body{
    overflow-x: hidden;
}

.navbar a{
    text-decoration: none;
    color: #111010 !important;
    font-weight: bold;
}

h1{
    font-size: 63px;
    color: #303030;
}

figure > img{
    max-width: 20rem;
}

.carousel-caption h5{
    font-size: 24px;
    color: rgb(255, 217, 0);
    
}
